# Example environment variables for iot2050-telegraf-config
# Copy this file to .env and modify as needed 

# This is only read at build time btw

# Default device connection settings
DEFAULT_IP=192.168.1.1
DEFAULT_USERNAME=user
DEFAULT_PASSWORD=pass

# IOT device connection settings
DEFAULT_IOT_USERNAME=iotuser
DEFAULT_IOT_PASSWORD=iotpass
DEFAULT_IOT_IP=192.168.1.2:22
